@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo-alura {
    margin-left: 10px;
    padding-top: 10px;
    width: 2%;

}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;

}

.text-area {
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;

}

::placeholder { color: #0A3871}

    .text-area:focus {
        outline: none;
    }

.mensagem {
    background: #FFF;
    /* background-image: url(../img/character.svg); */
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;

}

.mensagem:focus {
    outline: none;
}

.botoes {
    display: flex;
    margin-top: 18px;

}

.btn-desencriptar {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn-encriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #FFF;
    cursor: pointer;
    height: 67px;
    /* margin-left: 30px; */
    width: 328px;
}

.btn-copiar{
    /* background: #0A3871; */
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-top: 402px;
    margin-left: 108px;
    width: 336px;
    position: absolute;
}

.informacao{
    color: #495057;
    font-size: 18px;
}